<div class="footer-shadow">
<div class="footer">
<a href="https://www.instagram.com/collectifrpz">
    <%=  image_tag("instagram.png", alt: "RPZ") %>
  </a>
  <a href="mailto:collectif.rpz@gmail.com"><%=  image_tag("email.png", alt: "RPZ") %></a>
    <a href="https://www.facebook.com/collectifrpz">
    <%=  image_tag("facebook.png", alt: "RPZ") %>
  </a>
</div>
<p class="link-footer"><%= link_to 'Mentions légales', mentions_path %></p>
</div>
