<div class="container-ok">
<%= render "components/header" %>
<body style="background-color:black">
<div class="img-back-blanc"><%= link_to(image_tag("cc.png", alt: "QQ29 - all rights reserved."), root_path) %></div>

  <div class="container-ml mentions-legales">
    <h1>MENTION LÉGALES</h1>
    <p>Le présent site http://www.collectifrpz.com est édité par :</p>
    <p>Rest in Real, Association loi 1901, dont le siège social est situé au 22 rue marmontel, 75015 Paris</p>
    <p>RNA : W931021958</p>
    <p>Adresse email : contact.parietism@gmail.com</p>
    <p>Hébergeur du site : Namecheap, Phoenix, Arizona, United States</p>
    <p>Responsable du site : Madame Camille Sauer</p>
    <p>Pariétisme - Tous droits réservés.</p>
  </div>
<%= render "components/footer" %>
</body>
</div>
